In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\SOMESH\Desktop\Final Year Project\CROP WATER REQUIREMENT.csv')

In [4]:
df

,CROP TYPE,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT
0,BANANA,DRY,DESERT,Oct-20,NORMAL,8.750
1,BANANA,DRY,DESERT,Oct-20,SUNNY,10.250
2,BANANA,DRY,DESERT,Oct-20,WINDY,9.650
3,BANANA,DRY,DESERT,Oct-20,RAINY,0.750
4,BANANA,DRY,DESERT,20-30,NORMAL,9.850
...,...,...,...,...,...,...
2875,ONION,WET,HUMID,30-40,RAINY,0.100
2876,ONION,WET,HUMID,40-50,NORMAL,4.625
2877,ONION,WET,HUMID,40-50,SUNNY,6.125
2878,ONION,WET,HUMID,40-50,WINDY,5.625
2879,ONION,WET,HUMID,40-50,RAINY,0.200

In [5]:
df.isnull().sum().sum()

0

In [7]:
df.head()

  CROP TYPE SOIL TYPE  REGION TEMPERATURE WEATHER CONDITION  WATER REQUIREMENT
0    BANANA       DRY  DESERT      Oct-20            NORMAL               8.75
1    BANANA       DRY  DESERT      Oct-20             SUNNY              10.25
2    BANANA       DRY  DESERT      Oct-20             WINDY               9.65
3    BANANA       DRY  DESERT      Oct-20             RAINY               0.75
4    BANANA       DRY  DESERT       20-30            NORMAL               9.85

In [13]:
df.shape

(2880, 6)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CROP TYPE          2880 non-null   object
 1   SOIL TYPE          2880 non-null   object
 2   REGION             2880 non-null   object
 3   TEMPERATURE        2880 non-null   object
 4   WEATHER CONDITION  2880 non-null   object
 5   WATER REQUIREMENT  2880 non-null   float64
dtypes: float64(1), object(5)
memory usage: 135.1+ KB

In [10]:
df.describe()

       WATER REQUIREMENT
count        2880.000000
mean            6.463141
std            22.687385
min             0.100000
25%             2.700000
50%             5.860000
75%             8.000000
max           606.000000

In [12]:
df.columns.values

array(['CROP TYPE', 'SOIL TYPE', 'REGION', 'TEMPERATURE',
       'WEATHER CONDITION', 'WATER REQUIREMENT'], dtype=object)