In [3]:
import numpy as np
import pandas as pd

In [4]:
a=pd.read_csv(r'C:\Users\SOMESH\Desktop\Final Year Project\Crop Yield Data India\archive\maharastra.csv')

In [5]:
a

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arhar/Tur,2014,Kharif,Maharashtra,1210200,353300,1001.6,182691792,399366,0.313529
1,Bajra,2014,Kharif,Maharashtra,864800,537900,1001.6,130550208,285384,0.451053
2,Castor seed,2014,Kharif,Maharashtra,17300,4000,1001.6,2611608,5709,0.188571
3,Cotton(lint),2014,Kharif,Maharashtra,4189900,3577100,1001.6,632507304,1382667,0.966400
4,Gram,2014,Rabi,Maharashtra,1427500,1087700,1001.6,215495400,471075,0.731613
5,Groundnut,2014,Kharif,Maharashtra,243800,252900,1001.6,36804048,80454,0.643636
6,Groundnut,2014,Summer,Maharashtra,82700,126000,1001.6,12484392,27291,1.492800
7,Jowar,2014,Kharif,Maharashtra,680100,584400,1001.6,102667896,224433,0.956250
8,Jowar,2014,Rabi,Maharashtra,2608100,1524400,1001.6,393718776,860673,0.717308
9,Linseed,2014,Rabi,Maharashtra,23900,5300,1001.6,3607944,7887,0.235000
10,Maize,2014,Kharif,Maharashtra,800500,1496100,1001.6,120843480,264165,1.760000
11,Maize,2014,Rabi,Maharashtra,239800,651400,1001.6,36200208,79134,1.730870
12,Maize,2014,Summer,Maharashtra,35900,53700,1001.6,5419464,11847,1.240455
13,Moong(Green Gram),2014,Kharif,Maharashtra,315200,83700,1001.6,47582592,104016,0.273939
14,Niger seed,2014,Kharif,Maharashtra,16400,2800,1001.6,2475744,5412,0.113158
15,Other Rabi pulses,2014,Rabi,Maharashtra,103300,33900,1001.6,15594168,34089,0.327037
16,Other Kharif pulses,2014,Kharif,Maharashtra,76500,28700,1001.6,11548440,25245,0.327000
17,Ragi,2014,Kharif,Maharashtra,111600,119000,1001.6,16847136,36828,1.091818
18,Rice,2014,Kharif,Maharashtra,1508400,2835400,1001.6,227708064,497772,1.306400
19,Rice,2014,Summer,Maharashtra,42800,111200,1001.6,6461088,14124,2.523750
20,Safflower,2014,Rabi,Maharashtra,74200,26300,1001.6,11201232,24486,0.571579
21,Sesamum,2014,Kharif,Maharashtra,19900,4000,1001.6,3004104,6567,0.224444
22,Sesamum,2014,Rabi,Maharashtra,700,100,1001.6,105672,231,0.062500
23,Small millets,2014,Kharif,Maharashtra,64100,23800,1001.6,9676536,21153,0.349655
24,Small millets,2014,Rabi,Maharashtra,17300,5900,1001.6,2611608,5709,0.385385
25,Soyabean,2014,Kharif,Maharashtra,3640200,1821600,1001.6,549524592,1201266,0.758571
26,Sugarcane,2014,Whole Year,Maharashtra,1029500,91538100,1001.6,155413320,339735,71.188571
27,Sunflower,2014,Kharif,Maharashtra,32300,10000,1001.6,4876008,10659,0.240000
28,Sunflower,2014,Rabi,Maharashtra,47900,20700,1001.6,7230984,15807,0.326154
29,Sunflower,2014,Summer,Maharashtra,1900,2000,1001.6,286824,627,0.837500
30,Tobacco,2014,Whole Year,Maharashtra,1300,2100,1001.6,196248,429,1.620000
31,Urad,2014,Kharif,Maharashtra,276500,92300,1001.6,41740440,91245,0.408788
32,Wheat,2014,Rabi,Maharashtra,1067300,1307700,1001.6,161119608,352209,1.201379

In [6]:
a.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arhar/Tur,2014,Kharif,Maharashtra,1210200,353300,1001.6,182691792,399366,0.313529
1,Bajra,2014,Kharif,Maharashtra,864800,537900,1001.6,130550208,285384,0.451053
2,Castor seed,2014,Kharif,Maharashtra,17300,4000,1001.6,2611608,5709,0.188571
3,Cotton(lint),2014,Kharif,Maharashtra,4189900,3577100,1001.6,632507304,1382667,0.966400
4,Gram,2014,Rabi,Maharashtra,1427500,1087700,1001.6,215495400,471075,0.731613

In [8]:
a.shape

(33, 10)

In [9]:
a.tail()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
28,Sunflower,2014,Rabi,Maharashtra,47900,20700,1001.6,7230984,15807,0.326154
29,Sunflower,2014,Summer,Maharashtra,1900,2000,1001.6,286824,627,0.837500
30,Tobacco,2014,Whole Year,Maharashtra,1300,2100,1001.6,196248,429,1.620000
31,Urad,2014,Kharif,Maharashtra,276500,92300,1001.6,41740440,91245,0.408788
32,Wheat,2014,Rabi,Maharashtra,1067300,1307700,1001.6,161119608,352209,1.201379

In [10]:
a.isnull().sum().sum()

0

In [11]:
a.notnull().sum().sum()

330